:root {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.77);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"],
select,
input[type="button"],
input[type="text"] {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

input[type="button"] {
    background-color: #9700ff;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

input[type="button"]:hover {
    background-color: #480975;
}